spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.executor.cores 1
spark.executor.instances {{ (4 * groups['workers'] | length) - 1 }}
spark.default.parallelism {{ 8 * groups['workers'] | length  }}
spark.executor.memory 6g
spark.master yarn
